language: python
python:
  - "2.7"
  - "2.6"
script: "if [[ $TEST_PEP8 == '1' ]]; then pep8 --repeat --show-source --exclude=.venv,.tox,dist,docs,build,*.egg .; else python setup.py test; fi"
matrix:
  include:
    - python: "2.7"
      env: TEST_PEP8=1
